body {
    background-image: url('login.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}


.container {
    max-width: 600px;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
